<div class="page-body">
  <%- include('../global/components/breadcrumb.ejs',{subTitle:"User Controls",icon:"user-control"}) %>

  <!-- Container-fluid starts-->
  <div class="container-fluid default-dashboard">
    <div class="row"><%- include('../auth/components/error-alert.ejs', { error:error }) %></div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>User Control</h5>
          </div>
          <div class="card-body">
            <form class="g-3 needs-validation custom-input" novalidate method="post" action="/admin/setting/edit/user">
              <div class="row">
                <% for(const [key,obj] of userSettingMap.entries()){ %> <% if(obj.is_default){ %>
                <div class="col-md-6 mb-4 position-relative">
                  <label class="form-label" for="validationTooltip01"><%= obj.label %></label>
                  <input type="text" class="form-control" name="<%= key %>" id="max-member" value="<%= obj.value %>" placeholder="Enter value" required="" />
                </div>
                <% }else if(obj.is_array){ %>
                <div class="col-md-6 mb-4 position-relative">
                  <label class="form-label" for="validationTooltip01"><%= obj.label %></label><br />
                  <small><b>Select multiple option You want</b></small>
                  <select class="form-select" id="validationCustom04" name="<%= key %>" multiple>
                    <% obj.value.forEach((val)=>{ %>
                    <option value="<%= val %>"><%= val %></option>
                    <% }); %>
                  </select>
                </div>
                <% }else if(obj.is_boolean){ %>
                <div class="col-md-6 mb-4 position-relative">
                  <label class="form-label" for="validationTooltip01"><%= obj.label %></label>
                  <div class="form-check-size">
                    <div class="form-switch form-check-inline">
                        <input class="form-check-input switch-primary check-size" data-settingKey="<%= key %>" <%= obj.value === 'true' ? 'checked' : '' %> id="<%= key %>" type="checkbox" />
                    </div>
                  </div>
                </div>
                <% } %> <% } %>
              </div>
              <div class="col-12 mt-2 d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>

<!-- modals -->
<%- include('./modal/confirmation-modal') %>
