<div class="modal faq-modal fade" id="faqModal" tabindex="-1" aria-labelledby="faqModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="faqModalLabel">Frequently Asked Questions</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="accordion dark-accordion" id="faqAccordion">
            <% faqs.forEach((faq, index) => { 
                 const isFirst = index === 0;
                 const collapseId = 'collapse-' + faq.id;
                 const headingId = 'heading-' + faq.id;
            %>
              <div class="accordion-item">
                <h2 class="accordion-header" id="<%= headingId %>">
                  <button class="accordion-button <%= !isFirst ? 'collapsed' : '' %>" type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#<%= collapseId %>"
                          aria-expanded="<%= isFirst ? 'true' : 'false' %>"
                          aria-controls="<%= collapseId %>">
                    Q: <%= faq.title %>
                  </button>
                </h2>
                <div id="<%= collapseId %>" class="accordion-collapse collapse <%= isFirst ? 'show' : '' %>"
                     aria-labelledby="<%= headingId %>" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    <%= faq.description %>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
