<title>
    <%= app_name %> | <%= title %>
</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Cuba admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities." />
<meta name="keywords" content="admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app" />
<meta name="author" content="pixelstrap" />

<% if (user) { %>
    <meta name="current-user-id" content="<%= user.id %>">
<% } %>

<% if (logoSettings && logoSettings.favicon_logo ) { %>
    <link rel="icon" href="<%= logoSettings.favicon_logo %>" type="image/x-icon">
    <link rel="shortcut icon" href="<%= logoSettings.favicon_logo %>" type="image/x-icon">
<% } else{ %>
    <link rel="icon" href="<%= assetPath %>/images/logo/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="<%= assetPath %>/images/logo/favicon.png" type="image/x-icon">
<% } %>

<!-- Google font-->
<link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet" />
<!-- Font Awesome-->
<link rel="stylesheet" type="text/css" href="<%= assetPath %>/admin/css/fontawesome.css" />
<!-- ico-font-->
<link rel="stylesheet" type="text/css" href="<%= assetPath %>/admin/css/vendors/icofont.css" />
<!-- Themify icon-->
<link rel="stylesheet" type="text/css" href="<%= assetPath %>/admin/css/vendors/themify.css" />
<!-- Flag icon-->
<!-- Feather icon-->
<link rel="stylesheet" type="text/css" href="<%= assetPath %>/admin/css/vendors/feather-icon.css" />
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="<%= assetPath %>/admin/css/vendors/slick.css" />
<link rel="stylesheet" type="text/css" href="<%= assetPath %>/admin/css/vendors/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="<%= assetPath %>/admin/css/vendors/scrollbar.css" />
<link rel="stylesheet" type="text/css" href="<%= assetPath %>/admin/css/vendors/jquery.dataTables.css" />
<link rel="stylesheet" type="text/css" href="<%= assetPath %>/admin/css/vendors/select.bootstrap5.css" />
<!-- Plugins css Ends-->
<!-- Bootstrap css-->
<link rel="stylesheet" type="text/css" href="<%= assetPath %>/admin/css/vendors/bootstrap.css" />
<!-- App css-->
<link rel="stylesheet" type="text/css" href="<%= assetPath %>/admin/css/style.css" />
<!-- Responsive css-->
<link rel="stylesheet" type="text/css" href="<%= assetPath %>/admin/css/responsive.css" />